---
layout: default
title: EatsLab Root
---

<div class="home">

Welcome to EatsLab!  Better cooking through experimentation (and keeping notes).

<h1>Eats</h1>

<h2>Breakfast</h2>
<ul>
  {% for page in site.pages %}
    {% if page.categories contains 'breakfast' %}
    <li>
      <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>Apps</h2>
<ul>
  {% for page in site.pages %}
    {% if page.categories contains 'app' %}
    <li>
      <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>Mains</h2>
<ul>
  {% for page in site.pages %}
    {% if page.categories contains 'main' %}
    <li>
      <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>Soups</h2>
<ul>
  {% for page in site.pages %}
    {% if page.categories contains 'soups' %}
    <li>
      <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>Sides</h2>
<ul>
  {% for page in site.pages %}
    {% if page.categories contains 'sides' %}
    <li>
      <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>Drinks</h2>
<ul>
  {% for page in site.pages %}
    {% if page.categories contains 'drinks' %}
    <li>
      <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h1>Techniques</h1>

<ul>
  {% for page in site.pages %}
    {% if page.categories contains 'techniques' %}
    <li>
      <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

</div>
