---
layout: default
title: EatsLab Welcome
---

<div class="home">

This is the {{ page.title }} page!  Hullo world!

<h1>Posts</h1>
<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

<h1>Eats</h1>

<h2>Apps</h2>
<ul>
  {% for page in site.pages %}
    {% if page.categories contains 'app' %}
    <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>Mains</h2>
<ul>
  {% for page in site.pages %}
    {% if page.categories contains 'main' %}
    <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h1>Techniques</h1>

<ul>
  {% for page in site.pages %}
    {% if page.categories contains 'techniques' %}
    <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>

</div>
